body{
font-family: Arial;
background:#f5f6fa;
display:flex;
justify-content:center;
margin-top:50px;
}

.container{
background:white;
padding:40px;
border-radius:10px;
width:600px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

h1{
margin-bottom:10px;
}

input{
width:100%;
padding:12px;
margin-top:10px;
margin-bottom:20px;
font-size:16px;
}

button{
padding:10px 15px;
margin-right:10px;
cursor:pointer;
}

.ask{
margin-top:10px;
background:#4CAF50;
color:white;
border:none;
}

#answer{
margin-top:20px;
font-weight:bold;
}

canvas{
margin-top:30px;
}